<div class="container-fluid content">
  <div class="row map-row">

    <div class="col-sm-3">
      <div class="origin-dest-form">
        <%= simple_form_for @way, remote: true do |f| %>
          <%= f.association :origin, collection: @stopovers, label_method: lambda { |a| "#{a.airport.name} (#{a.airport.iata}) | #{a.airport.city}, #{a.airport.country_name}"} %>
          <%= f.association :destination, collection: @stopovers, label_method: lambda { |a| "#{a.airport.name} (#{a.airport.iata}) | #{a.airport.city}, #{a.airport.country_name}"}  %>
          <%= f.submit "Find your way", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-9 full-height">
      <div id="map-canvas"></div>
    </div>

  </div> <!-- row -->
  <div class="row">

  </div>

</div> <!-- container -->
<div class="black full-height"></div>
