<div class="container-fluid content">
  <div class="row map-row">

    <div class="col-sm-3 form-and-text-column">
      <div class="form-horizontal">
        <%= form_for @way, remote: true do |f| %>
          <%= f.collection_select :origin_id, @airports, :id, :name, {}, {class: "form-control", id: "origin-input"} %>
          <%= f.collection_select :destination_id, @airports, :id, :name, {prompt: "Select your destination"}, {class: "form-control", id: "destination-input"} %>
          <%= submit_tag "Find your way", class: "btn btn-default" %>
        <% end %>
      </div>
      <div class="instructions">
          <p class="text-centre"> Select from direct-route airports on the map </br> or search for an airport, city or country above to find your WAY TO GO </p>
      </div>
    </div>

    <div class="col-sm-9 full-height">
      <div id="map-canvas"></div>
    </div>

  </div> <!-- row -->
  <div class="row">

  </div>

</div> <!-- container -->
<div class="black full-height"></div>
