//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require bootstrap
//= require_tree .

function initializeMap() {
  var myStyles = [
    {
      featureType: "water",
      elementType: "all",
      stylers: [
        { hue: "#009999" },
        { lightness: 0 }
      ]
    },{
      featureType: "landscape",
      elementType: "all",
      stylers: [
        { lightness: -100 }
      ]
    },{
      featureType: "all",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    },{
      featureType: "administrative",
      elementType: "geometry.fill",
      stylers: [
         { visibility: "off" }
      ]
    }
  ];

  var myOptions = {
    center: new google.maps.LatLng(39, 9),
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    minZoom: 1,
    maxZoom: 6,
    mapTypeControl: false,
    streetViewControl: false,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.LEFT_BOTTOM
    },
    scaleControl: false,
    styles: myStyles
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"),
      myOptions);
}

// function createOrigDestMarkers() {
//   // create marker for closest airport based on HTML5 geolocation (if allowed)
//   if(navigator.geolocation) {
//     navigator.geolocation.getCurrentPosition(function(position) {
//       var pos = new google.maps.LatLng(position.coords.latitude,
//                                        position.coords.longitude);
// }

function createStopoverMarkers() {
  var airportDetails = gon.airports;
  // create markers for all airports in the gon.airports object
  for (var i = 0; i < airportDetails.length; i++) {
      (function(airportDetails) {
          var latLng = new google.maps.LatLng(airportDetails.latitude, airportDetails.longitude);

          var marker = new google.maps.Marker({
              position: latLng,
              map: map,
              name: airportDetails.name,
              city: airportDetails.city,
              iata: airportDetails.iata,
              country: airportDetails.country_name,
              icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=glyphish_airplane|FFFFFF',
              iata: airportDetails.iata
          });

          var contentString =
            '<div id="infowindow_content">'+
            marker.name+
            ' ('+
            marker.iata+
            ') '+
            marker.city+
            ', '
            marker.country+
            '</div>';

          google.maps.event.addListener(marker, 'click', function() {
            var infowindow = new google.maps.InfoWindow({ content: contentString });
            infowindow.open(map, marker);
            google.maps.event.addListener(map, 'click', function() {
              infowindow.close();
            });
          })
      })(airportDetails[i]);
  };
}

$(window).load(function () {
  initializeMap();
});
