//= require jquery
//= require jquery_ujs
//= require bootstrap
//= require_tree .


// send current location to controller and calculate closest airport and set as @ways.origin
var setLocation = function () {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
      document.cookie = "lat_lng=" + escape(cookie_val);
    });
  };
}

// initialize google map and call function to create marker for origin airport (closest to user's location)
function initializeMap() {
  var myStyles = [
    {
      featureType: "water",
      elementType: "all",
      stylers: [
        { hue: "#009999" },
        { lightness: 0 }
      ]
    },{
      featureType: "landscape",
      elementType: "all",
      stylers: [
        { lightness: -100 }
      ]
    },{
      featureType: "all",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    },{
      featureType: "administrative",
      elementType: "geometry.fill",
      stylers: [
         { visibility: "off" }
      ]
    }
  ];

  var myOptions = {
    center: new google.maps.LatLng(39, 9),
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    minZoom: 1,
    maxZoom: 6,
    mapTypeControl: false,
    streetViewControl: false,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.LEFT_BOTTOM
    },
    scaleControl: false,
    styles: myStyles
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"),
      myOptions);

  createOriginMarker(map);
  createStopoverMarkers(map);
}

// create marker for origin airport (closest to user's location)
function createOriginMarker(map) {
  var origin = gon.origin
  var latLng = new google.maps.LatLng(origin.latitude, origin.longitude);
  var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      name: origin.name,
      iata: origin.iata,
      city: origin.city,
      country: origin.country_name,
      icon: 'http://maps.google.com/mapfiles/kml/pal3/icon53.png'
  });
  createInfoWindow(marker, map);
}

// add event listener to airport marker to display info window when clicked
function createInfoWindow(marker, map) {
  var contentString =
    '<div id="infowindow_content">'+
    marker.name+
    ' ('+
    marker.iata+
    ') '+
    marker.city+
    ', '
    marker.country+
    '</div>';

  google.maps.event.addListener(marker, 'click', function() {
    var infowindow = new google.maps.InfoWindow({ content: contentString });
    infowindow.open(map, marker);
    google.maps.event.addListener(map, 'click', function() {
      infowindow.close();
    });
  })
}

// create markers for selection of airports sent from ways controller
function createStopoverMarkers(map) {
  var airportDetails = gon.airportMarkers;
  for (var i = 0; i < airportDetails.length; i++) {
      (function(airportDetails) {
          console.log(airportDetails);
          var latLng = new google.maps.LatLng(airportDetails.latitude, airportDetails.longitude);

          var marker = new google.maps.Marker({
              position: latLng,
              map: map,
              name: airportDetails.name,
              city: airportDetails.city,
              iata: airportDetails.iata,
              country: a.country_name,
              icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=glyphish_airplane|FFFFFF'
          });

          createInfoWindow(marker, map);

      })(airportDetails[i]);
  };
}


// event listeners


setLocation();

$(document).ready(function() {
  console.log("document ready");
});

$(window).load(function () {
  console.log("window load");
  initializeMap();
});
