// Place all the styles related to the ways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.content {
  position: absolute;
  top: 50px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-row {
  height: 100%;
  max-height: 650px;
  padding: 0px;
  margin: 0;
}

.full-height {
  height:100%;
}

#map-canvas {
  height: 100%;
}

.black {
  background-color: #000000;
}

.origin-dest-form {
  label {
    color: white;
  }
}

.instructions {
  color: #009999;
}

.form-and-text-column {
  p, .form-control {
    margin: 10px auto;
  }
  input {
    margin: 10px auto;
    background-color: #009999;
    color: white;
  }
}

footer {
  bottom: 0;
  position: fixed;
  padding: 10px;
}

.btn-clear, .btn-save {
  background-color: #F1E4D5;
}

.width-90-pc {
  width: 90%;
  display: inline;
}

.btn-close {
  a {
    font-size: 20px;
    color: #009999;
    background-color: black;
  }
}
